/* TODO: Build layout for campuses page */
.main-container {
  display: flex;
  gap: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}